{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 Chrome versions",
            "last 2 ChromeAndroid versions",
            "last 2 Edge versions",
            "last 2 Firefox versions",
            "last 2 FirefoxAndroid versions",
            "last 2 iOS versions",
            "last 2 Opera versions",
            "last 2 Safari versions"
          ]
        }
      }
    ],
    [
      "@babel/preset-stage-0",
      {
        "decoratorsLegacy": true
      }
    ],
    [
      "@babel/preset-stage-1",
      {
        "decoratorsLegacy": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "server": "./server",
          "app": "./app",
          "@root": ".",
          "^react-apollo$": "./node_modules/react-apollo/index.js",
          "^moment-timezone$": "./util/defaultedTzMoment.js"
        }
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": [
          "css$",
          "scss$"
        ]
      }
    ],
    "transform-decorators-legacy"
  ]
}
